<div class="pg-content">
  <!-- title -->
  <div class="pg-title flex-c-row">
    <span class="title">Add New Product</span>
  </div>

  <!-- content -->
  <div class="dv-content flex-col">

    <!-- products -->
    <div class="card">
      <div class="card-body">

        <form
          ngNativeValidate
          (ngSubmit)="onSubmit()">

          <!-- title -->
          <div class="form-group row">
            <label
              for="ip-title"
              class="col-sm-2 col-form-label"
            >Title</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control form-control-sm"
                id="ip-title"
                name="title"
                required
                placeholder="Enter title"
                [(ngModel)]="title">
            </div>
          </div>

          <!-- price -->
          <div class="form-group row">
            <label
              for="ip-price"
              class="col-sm-2 col-form-label"
            >Price</label>
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control form-control-sm"
                id="ip-price"
                name="price"
                required
                placeholder="Enter price"
                [(ngModel)]="price">
            </div>
          </div>

          <!-- description -->
          <div class="form-group row">
            <label
              for="ip-desc"
              class="col-sm-2 col-form-label"
            >Description</label>
            <div class="col-sm-10">
              <textarea
                class="form-control form-control-sm"
                id="ip-desc"
                rows="4"
                name="desc"
                required
                placeholder="Enter description"
                [(ngModel)]="description"
              ></textarea>
            </div>
          </div>

          <!-- image -->
          <div class="form-group row">
            <label
              class="col-sm-2 col-form-label"
            >Image</label>
            <div class="col-sm-10">
              <!-- upload image -->
              <app-image-uploader
                #imagePhoto>
                <div class="flex-c-row justify-content-center">
                  <fa name="plus"></fa>
                  <span>Upload Photo</span>
                </div>
              </app-image-uploader>

            </div>
          </div>

          <div class="form-group row mb-0 mt-4">
            <div class="col-sm-10 offset-2">
              <button
                type="submit"
                class="btn btn-primary btn-sm"
              >Submit</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>

</div>
