/* You can add global styles to this file, and also import other style files */

@import "bootstrap_custom";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.hj-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
}
.flex-c-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.content-center {
  justify-content: center;
}

.bg-grad {
  background: linear-gradient($primary, #80e8a3);
}

//
// buttons
//
button[icon-only] {
  padding: 0 !important;
}

[clear] {
  border: 0;
  background-color: transparent;

  &:focus {
    border: 0 !important;
    box-shadow: none !important;
  }
}


html,
body {
  min-width: 800px;
  height: 100%;
  margin: 0;
  background-color: #f4f3f3;
}

.dv-loading {
  height: 300px;
}

.pg-content {
  app-spinner-overlay.sn-overlap {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

//
// table
//
table.dataTable tbody td {
  padding: 6px 8px;

  a {
    cursor: pointer;
  }
}
