<div class="pg-content">
  <!-- title -->
  <div class="pg-title flex-c-row">
    <span class="title">Products</span>
  </div>

  <!-- content -->
  <div class="dv-content flex-col">

    <!-- products -->
    <div class="card mt-3">

      <div class="card-body">
        <!-- add button -->
        <button
          class="btn btn-primary btn-sm">
          <fa name="plus"></fa>
          Add New Product
        </button>

        <!-- table -->
        <div class="table-responsive mt-3">
          <table class="table table-bordered table-sm">
            <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
