<input
  type="file"
  accept="image/*"
  (change)="onFileSelected($event)"
  #file />

<div class="dv-photo">
  <!-- button -->
  <button
    icon-only clear
    type="button"
    class="btn"
    (click)="file.click()">

    <ng-content *ngIf="!(picture || imgUrl)"></ng-content>

    <img
      *ngIf="picture; else default"
      class="content"
      [src]="picture" />

    <!-- show default image only if content is empty -->
    <ng-template
      #default>
      <img
        *ngIf="imgUrl"
        class="content"
        [src]="imgUrl" />
    </ng-template>
  </button>

</div>
