<div class="pg-content">
  <!-- title -->
  <div class="pg-title flex-c-row">
    <span class="title">Dashboard</span>
  </div>

  <!-- content -->
  <div class="dv-content flex-col">
    <!-- summary info -->
    <div class="card dv-summary">
      <div class="card-body flex-col">
        <!-- payment -->
        <div class="flex-row">
          <label>Payments Sum: </label>
          <span
            class="font-weight-bold"
          >$0</span>
        </div>

        <!-- order -->
        <div class="flex-row">
          <label class="mb-0">Total Orders: </label>
          <span
            class="font-weight-bold"
          >0</span>
        </div>
      </div>
    </div>

    <!-- recent orders -->
    <div class="card mt-3">
      <div class="card-header">
        <fa name="table"></fa>
        &nbsp;&nbsp;&nbsp;&nbsp;Recent Orders
      </div>

      <!-- table -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
            <tr>
              <th>User</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
