<!-- top nav bar -->
<div class="page-top">
  <nav class="navbar navbar-dark">
    <a routerLink="/home">
      <img src="../../../assets/imgs/logo.png" height="24" />
    </a>
  </nav>
</div>

<!-- side bar -->
<aside class="al-sidebar">
  <!-- menu items -->
  <ul>
    <app-sidebar-menu-item
      link="/home"
      title="Home"
      icon="ion-ios-home">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/myrecipes"
      title="Recipes"
      icon="ion-md-albums">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/preference"
      title="Preferences"
      icon="ion-ios-apps">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/cooking-tip"
      title="Cooking Tips"
      icon="ion-ios-apps">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/setting"
      title="Settings"
      icon="ion-md-settings">
    </app-sidebar-menu-item>

  </ul>

  <!-- log out -->
  <ul>
    <app-sidebar-menu-item
      link="/logout"
      title="Log Out"
      icon="ion-md-log-out"
      [topBorder]="true"
      [bottomBorder]="false">
    </app-sidebar-menu-item>
  </ul>
</aside>

<div class="al-main">
  <div class="al-content">
    <router-outlet></router-outlet>
  </div>
</div>
