<!-- top nav bar -->
<div class="page-top">
  <nav class="navbar navbar-dark">
    <a routerLink="/home">
      <img src="../../../assets/imgs/logo.png" height="24" />
    </a>
  </nav>
</div>

<!-- side bar -->
<aside class="al-sidebar">
  <!-- menu items -->
  <ul>
    <app-sidebar-menu-item
      link="/home"
      title="Dashboard"
      icon="tachometer">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/orders"
      title="Orders"
      icon="copy">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/products"
      title="Products"
      icon="picture-o">
    </app-sidebar-menu-item>

    <app-sidebar-menu-item
      link="/settings"
      title="Settings"
      icon="cog">
    </app-sidebar-menu-item>

  </ul>

  <!-- log out -->
  <ul>
    <app-sidebar-menu-item
      title="Log Out"
      icon="sign-out"
      [topBorder]="true"
      [bottomBorder]="false"
      (click)="onSignout()">
    </app-sidebar-menu-item>
  </ul>
</aside>

<div class="al-main">
  <div class="al-content">
    <router-outlet></router-outlet>
  </div>
</div>
