<div class="hj-container flex-row bg-grad content-center">

  <div class="flex-col align-items-center mt-5">
    <!-- logo -->
    <img class="logo" src="../../../assets/imgs/logo.png" />

    <!-- sign in form-->
    <div
      class="card p-4 dv-form">
      <form
        ngNativeValidate
        (ngSubmit)="onSignin()">

        <!-- email -->
        <div class="form-group mb-1">
          <label
            class="col-form-label col-form-label-sm"
            for="ip-email"
          >Email address</label>
          <input
            type="email"
            class="form-control form-control-sm"
            id="ip-email"
            name="email"
            required
            placeholder="Enter email"
            [(ngModel)]="email">
        </div>

        <!-- password -->
        <div class="form-group mb-4">
          <label
            class="col-form-label col-form-label-sm"
            for="ip-password"
          >Password</label>
          <input
            type="password"
            class="form-control form-control-sm"
            id="ip-password"
            name="password"
            required
            placeholder="Password"
            [(ngModel)]="password">
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-sm"
        >Submit</button>
      </form>
    </div>

  </div>

</div>
